body {
margin: 0 auto;
}

*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

p {
   margin: 0;
}



/* Header
====================================*/
.header {
   width: 100%;
   height: 105px;

   position: absolute;

   top: 0;
   left: 0;
}

.header__inner {
   margin: 72px 105px 0;

   display: flex;
   justify-content: space-between;
}

.logo {

}

.logo:hover {
   cursor: pointer;
}

.nav {

}

.nav__link {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 16px;

   padding: 0 7px;

   margin-left: 20px;

   text-decoration: none;
   color: #DBE5E8;
}

.nav__link:first-child {
   margin-left: 0;
}

.nav__link:hover {
   padding-bottom: 7px;
   border-bottom: 4px solid #DBE5E8;
}

.communicate {

}

.communicate__link {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 16px;

   text-decoration: none;
   color: #DBE5E8;
}

.communicate__modificator {
   cursor: pointer;
   width: 14px;
   padding: 0 3px 0;
}



/* Intro
====================================*/
.intro {
   display: flex;

   padding-top: 105px;
   height: 832px;

   width: 100%;

   background: url("images/main_background.png") no-repeat;
   background-position: center;
   background-size: cover;
}

.intro__container {
   width: inherit;

   margin: 0 218px;
}

.intro__inner {

}

.intro__title {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 90px;

   color: #DBE5E8;
}

.intro__title_first {
   line-height: 90px;
}

.intro__title_second {
   letter-spacing: 20px;
}

.intro__btn {
   position: absolute;

   bottom: 94px;
}

.button {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   color: #DBE5E8;

   padding: 17px 43px;
   border: 2px solid #DBE5E8;

   text-decoration: none;
}

.intro__page__counter {
   position: absolute;

   padding: 3px 0;

   bottom: 94px;
   right: 218px;

   letter-spacing: 15px;
}

.page_counter {
   cursor: pointer;
}

.page_counter:hover {

   border-bottom: 2px solid #DBE5E8;
}



/* Benefits
====================================*/
.benefits {
   height: 900px;
}





















