body {
margin: 0 auto;
}

*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

p {
   margin: 0;
}



/* Header
====================================*/
.header {
   width: 100%;
   height: 105px;

   position: absolute;

   top: 0;
   left: 0;
}

.header__inner {
   margin: 72px 105px 0;

   display: flex;
   justify-content: space-between;
}

.logo {

}

.logo:hover {
   cursor: pointer;
}

.nav {

}

.nav__link {
   padding: 0 7px;

   margin-left: 20px;

   text-decoration: none;
   color: #DBE5E8;
}

.nav__link:first-child {
   margin-left: 0;
}

.nav__link:hover {
   padding-bottom: 7px;
   border-bottom: 4px solid #DBE5E8;
}

.communicate {

}

.communicate__link {
   text-decoration: none;
   color: #DBE5E8;
}



/* Header
====================================*/
.intro {
   width: 100%;
   height: 900px;

   background: url("images/main_background.png") no-repeat;
   background-position: center;
   background-size: cover;
}